{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Тестирование экстрасенсов</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/Style.css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/script/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/script/jquery.cookie.js"></script>
</head>
<body>
<div class="container">
</div>
<script type="text/javascript" src="../static/script/senapp.js"></script>
</body>
</html>
<div id="result" class="row">
    <div class="col-sm-4">
        <div>
            <div class="alert alert-info">
                Загадайте двухзначное число у себя в голове и нажмите кнопку старт.
            </div>
            <div class="col-sm-4 center-block">
            </div>
            <div class="col-sm-4 center-block">
                <form action="answer/" method="post">
                    {% csrf_token %}
                    <button id="target" class="btn btn-success center-block">Старт
                </button>
                </form>
            </div>
        </div>
    </div>
</div>